body{
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}
a{
  text-decoration: none;
  cursor: pointer;
}
header{
  height: 100%;
  background-image: url("../img/thefog.jpg");
  background-size: cover;
  position: relative;
}
header img{
  width: 100%;
}

// my name, which should serve as a
// logo/banner for the top of the site
#created_by{
  position: absolute;
  text-align: center;
  opacity: 0;
  font-size: 5rem;
  margin: 0px 0 0 29%;
  bottom: 1%;
  z-index: 999;
}
#news_and_projects{
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  margin-top: 100%;
  padding-top: 4%;
}
#news_and_projects a{
  color: white;
}
#news{
  background-image: url("../img/water.jpg");
  background-size: 16rem;
  background-position: center;
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100%;
  border-radius: 100%;
}
#news:hover{
  cursor: pointer;
  color: white;
}
#news_open{
  border-radius: 0;
  display: block;
  background-image: none;
  background-color: lightgray;
  width: 75%;
  height: auto;
}
#hidden_news{
  display: none;
  padding-left: 4rem;
  opacity: 0%;
}
#projects{
  background-image: url("../img/lighthouse.jpg");
  background-size: 16rem;
  background-position: center;
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100%;
  border-radius: 100%;
}
#projects:hover{
  cursor: pointer;
  color: white;
}
#contact_wrapper{
  padding-top: 40px;
  width: 75%;
  margin: auto;
  text-align: center;
}
#contact_wrapper h2{
  text-align: center;
}
#icon_place{
  display: flex;
  justify-content: space-between;
}
#icons{
  width: 80px;
  height: 80px;
}
.phone_number{
  background-image: url("../img/icon_phone.svg");
  color: transparent;
}
.phone_number:hover{
  background-image: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone_number_text{
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  display: none;
  color: #aaa;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
